*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#f6f6f6;
  overflow-x:hidden;
}

.custom-navbar{
  padding:1.3% 0;
}


.s1{
  background:rgba(250,244,234,0.85);
}

.s1box{
  background:#fff;
  margin:5rem 0;
  padding:5rem 5rem 8rem;
}
footer{
    /* height: 10 !important; */
    /* padding-top: 10%; */
    background-color: black;
}

@media (max-width: 576px){ 
      *{
        margin: 0;
        padding: 0;
      }
      footer{font-size: 15px; 
        min-width: 100%;
      }
      .s1box{
        margin: 0;
        padding: 1rem;
      }
      .right{
        padding-top: 2rem;
      }
    }
.h3{
  font-size: 19px;
  font-family: 'Playfair Display',serif;
  font-weight: 600;
  border-bottom: 1px solid gray;
  padding: 1rem 0 0.8rem;
}    
.account{
  font-size: 15px;
  font-family: 'Muli',sans-serif;
  color: #485460;
}
.log-in{
   color: #8bcc00;
   text-decoration: none;
}
h2{
  color: #485460;
  font-size: 16px;
}
.accordion-collapse{
  font-size: 16px;
    background:rgba(250,244,234,0.85);
}
.link{
  color: #485460;
}
.button3{
  width: 100%;
  background-color: #7fb904;
  font-size: 20px;
  font-family: 'Muli',sans-serif;
}
.h3d{
  font-size: 19px;
  font-family: 'Playfair Display',serif;
  color: black;
  font-weight: 800;
}
