*{ 
  padding: 0; 
  margin: 0; } 
body{ 
  overflow-x: hidden; }
 /* navbar */ 
 #a:hover { 
  color: #6AB04C !important; }
  .nav-item .nav-link:hover,
.nav-item .nav-link:focus,
.nav-item .nav-link.active{
  color: #8CBB00 !important;
}

  .nav-item.dropdown .dropdown-menu 
  { 
    display: none; 
    position: absolute; 
    background-color: #ffffff; 
    min-width: 13vw; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
    border-radius: 0px; } 
  .custom-navbar { 
    padding-top: 1.3%; 
    padding-bottom: 1.3%; } 
  .nav-item.dropdown:hover .dropdown-menu { 
    display: block; } 
  .dropdown-menu #a { 
    padding: 4% 4%; 
    display: block;
    color: black; 
    text-decoration: none; } 
  .dropdown-menu #a:hover { 
    background-color: #ddd; } 
  .navbar-brand{ 
    margin-left: 10%; } 
  #navbarSupportedContent{ 
    margin-right: 8%; } 
  .cart-badge{
     position: absolute; top: 28%;
 /* right: px; */
  font-size: 12px; } 
  /* footer */
  footer{ 
     background-color: black; } 
.cart-badge{
  position: absolute;
  top: 28%;
  /* right: px; */
  font-size: 12px;
}

 /* section 3 */

   #s11h2{
        font-size: clamp(40px,2vw,46px);
        font-family: 'Playfair Display',serif;
        font-weight: 600;
      }
      #s11p{
        font-size: clamp(10px,2vw,16px);
        font-family: 'Muli',sans-serif;
        color: #64696f;
      }
      #logoss11{
        color: #8CBB00;
      }
      #s11text{
        font-size: clamp(20px,4vw,22px);
        font-family: 'Playfair Display',serif;
        font-weight: 800;
      }
      #s11img{
         position: relative; 
         height: 55rem; 
         z-index: 1; } 
    
    #s11img #s11img2{ 
      width: 100%; 
      height: 55rem; 
      object-fit: cover; 
    } 
    #line2{ 
      height: 0.064rem; 
      width: 3.7rem; 
      border: 0.1% solid #485460; 
      background-color: #485460; 
      display: block; 
      margin: -0.6rem 0 0.8rem 0; 
    } 
    #s11img::after{ 
      content: ""; 
      position: absolute; 
      inset: 0; 
      background: rgba(255, 255, 255, 0.826); 
    } 
    .form-box{
       min-height: 35rem;
       background: #fff;
     }
     #s11button{
       background-color: #8CBB00;
       border: #8CBB00;
      }

     .form-control{
      border-radius: 0;
    }
    #s11button:hover{
      background-color: rgb(90, 198, 90) !important; } 

    
    /* mobile */
    
    
    @media (max-width: 576px){ 
      *{
        margin: 0;
        padding: 0;
      }
      footer{font-size: 15px; 
        min-width: 100%;
      }
      .half-circle-icon{ width: 3.5vw; height: 2vh; border-width: 3px; } 
      .container{ text-align: center; } 
      #s11img,#s11img2{
        min-height: 90rem;
        min-width: auto;
        text-align: center;
      }
      #s11h2{
        font-size: 26px;
        
      }
      #line2{
      margin: 0.2rem auto; 
      }
      #s11h6{
        font-size: 13px;
      }
      .cols11{
        padding: 0 1rem;
      }
      #s11p{
        font-size: 15px;
      }
         iframe{
    height: 12rem;
    width: 17rem;
    border-radius: 8px !important;
  }
    } 

@media(min-width: 481px) and (max-width: 768px){
   .section-title{
        font-size: 35px !important;
       } 
       .form-box{
       height: 45rem;
        }
         #s11img,#s11img2{
          min-height: 60rem !important;
          width: 100%;
        }
        iframe{
    height: 12rem;
    width: 20rem;
  }
}

/* section 1 */


@media (max-width: 576px){
    #s1h1 {
        font-size: 40px !important;  
        text-align: center;
    }
    #s1p {
        font-size: 15px !important;   
        text-align: center;
    }
    .right-box {
        justify-content: center; 
    }
    .img-box {
        width: 20%;           
        min-height: 15rem;
        background-position: center; 
    }
}
.right-box {
  display: flex;
  /* justify-content: flex-start; */
  align-items: flex-end; 
}
#s1h1{
  font-size: 77px;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

#s1p{
  font-size: 14.5px;
  line-height: 1.6;
  font-family: 'Muli', sans-serif;
  color: #5b646c;
}

/* IMAGE */
.img-box{
  aspect-ratio: 1/1;
  background-image: url("image/pic4.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 35rem;
}
@media(min-width: 481px) and (max-width: 768px){
  .img-box{
    height: 20rem !important;
  }
  #s1h1{
    font-size: 59px;
  }
}

    /* section 2 */
    #s2img{
  background-image:url(image/pic18-free-img.jpg);
  height:22rem;
  width:100%;
  background-size:100%;
  background-position:0.1% bottom;
  position:relative;
}

#s2img::after{
  content:"";
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.673);
}
.s2-text{
  font-size: clamp(26px,4vw,48px);
  font-family:'Playfair Display',serif;
  font-weight: 900;
  color: #ffffff;
}
.s2p{
  font-size: clamp(13px,4vw,16.5px);
  font-family: 'Muli',sans-serif;
  color: #dddddd ;
}
@media (max-width: 991px){

  #s2img{
    height:auto;                 
    min-height:18rem;
    background-size:cover;      
    background-position:center;
  }

  .s2-content{
    padding:2rem 1rem;
  }
   #s3img{
          height: 80rem !important;
        }
        #line2{ margin: auto;
        }
}

#offcanvasWithBothOptions{
  width: 32rem !important;
}
#offcanvasWithBothOptionsLabel{
  color: rgb(107, 106, 106);
  font-size: 18px !important;
}
.close1{
  border: 1.9px solid rgb(80, 79, 79);
  border-radius: 20px;
  width: 1.9rem !important;
  height: 1.2rem !important;
}
.button1, .button2, .button3{
  background-color: #8CBB00; 
  border: #8CBB00;
  font-size: 19px;
  font-weight: 600;
  color: white;
}
.button1:hover{
  background-color: #59b42f;
}
.button2:hover{
  background-color: #59b42f;
}
.button3:hover{
  background-color: #59b42f;
}
.cart-qty{
  border: 1px solid grey;
}
@media (max-width: 982px){
  .nav-link-last{
    display: none !important;
  }
}