*{
    padding: 0;
    margin: 0;
}
body{
  overflow-x: hidden;
}
.nav-item a:hover {
    color: #6AB04C !important;
}
.nav-item .nav-link:hover,
.nav-item .nav-link:focus,
.nav-item .nav-link.active{
  color: #8CBB00 !important;
}

 .nav-item.dropdown .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 13vw;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  border-radius: 0px;
}
.custom-navbar {
  padding-top: 1.3%;
  padding-bottom: 1.3%;
}
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu a {
  padding: 4% 4%;
  display: block;
  color: black;
  text-decoration: none;
}
.dropdown-menu a:hover {
  background-color: #ddd;
}
.navbar-brand{
  margin-left: 10%;
}
#navbarSupportedContent{
    margin-right: 8%;
}
footer{
    /* height: 10 !important; */
    /* padding-top: 10%; */
    background-color: black;
}
.cart-badge{
  position: absolute;
  top: 28%;
  /* right: px; */ 
  font-size: 12px;
}

@media (max-width: 576px){ 
      *{
        margin: 0;
        padding: 0;
      }
      footer{font-size: 15px; 
        min-width: 100%;
      }
    }
    
  
body{
  background:#f6f6f6;
}
.s1{
  background-color: rgb(255, 248, 239);
}
 .s1box { 
     background:#ffffff; 
     margin:5rem 0 !important; 
     padding:5rem 7rem 8rem; 
    }
    .product-card { 
      display: flex; 
      gap: 2rem; 
      align-items: center; 
      flex-wrap: wrap; }

    .img-box {
      width: 100%;
      max-width: 32rem;
      height: 32rem;
      overflow: hidden;
      position: relative;
      flex: 0 0 32rem;
      margin: 0 auto;
    }
    .img-box img {
      position: absolute;
      top: 0;
      left: 0;
      width: 32rem;
      height: 32rem;
      object-fit: cover;
      transition: transform 0.2s ease;
      transform-origin: top left;
    }

    .product-card .card-body { 
      flex: 1;
      max-width: calc(100% - 34rem); 
    }

    @media (max-width: 768px) {
      .product-card {
        flex-direction: column;
        align-items: center; 
        gap: 0;
      }
      .img-box { 
        width: 100%; 
        height: 25rem; 
      }
      .img-box img { 
        width: 100%; 
        height: 20rem; 
      }
      .product-card .card-body { 
        margin-top: 10rem; 
        padding: 0 !important;
      }
      
    }

    @media (min-width: 481px) and (max-width: 786px) {

  .img-box{
    height: 30rem; 
    width: 30rem;    /* tablet height */
    position: relative;
    margin-bottom: 4rem;
  }

  .img-box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: static;
  }

}
@media (max-width: 480px) {

  .s1box{
    padding: 5rem 1rem 5rem 1rem !important;
    margin: 5rem 0 !important;
  }
  .img-box{
    height: 18rem;     /* mobile height */
    width: 17rem;
    position: relative;
    /* padding-right: 0.2rem; */
  }

  .img-box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: static;  /* navbar safe */
  }

}


@media (max-width: 991.98px) {  
  /* .s1box{
    padding: 5rem 1rem 5rem 2rem !important;
    margin: 5rem 0 !important;
  } */
}
    .text-muted { 
      color:#8CBB00 !important;
      font-size: 15px;
      font-family: 'Muli',sans-serif; 
      font-weight: 700;
    }
    .text-muted1{
      color: #8a8a8af0 !important;
    }
    .product-title{
      font-size: 20px;
      font-family: 'Playfair Display',serif;
      font-weight: 700;
    }
    .icon-circle {
  width: 2rem;
  height: 2rem;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  cursor: pointer;
}

.icon {
  font-size: 1rem;
  color: #000;
}
.product-desc{
  color: #696969;
  font-size: 15.5px;
  line-height: 1.7;
  font-family: 'Muli',sans-serif;
}
#Description, #Reviews{
  color: black;
}
#Description1{
  font-size: 16px;
  font-family: 'Muli',sans-serif;
  line-height: 1.7;
}
.nav-tabs {
  border-bottom: none;
  border-top: 1px solid #ddd;
}

.nav-tabs .nav-link {
  border: none;
  position: relative;
  color: #555;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:active {
  outline: none;
  box-shadow: none;
}

.nav-tabs .nav-link.active::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #6AB04C;
}

#offcanvasWithBothOptions{
  width: 32rem !important;
}
#offcanvasWithBothOptionsLabel{
  color: rgb(107, 106, 106);
  font-size: 18px !important;
}
.close1{
  border: 1.9px solid rgb(80, 79, 79);
  border-radius: 20px;
  width: 1.9rem !important;
  height: 1.2rem !important;
}
.button1, .button2, .button3{
  background-color: #8CBB00; 
  border: #8CBB00;
  font-size: 19px;
  font-weight: 600;
  color: white;
}
.button1:hover{
  background-color: #59b42f;
}
.button2:hover{
  background-color: #59b42f;
}
.button3:hover{
  background-color: #59b42f;
}

.qty{
  /* width: 0.1rem !important; */
  border: 1px solid gray;
}
.cart1{
  width: 15rem;
  background-color: #8CBB00;
}
.category{
  font-size: 13.5px;
  font-family: 'Muli',sans-serif;
}
.text-muted2{
  font-size: 13.5px;
  color: #8CBB00;
  font-family: 'Muli',sans-serif;
}
.p-3{
  border: 1px solid black;
}
.text1{
  font-size: clamp(12px,4vw,16px);
}
.text2{
  font-size: clamp(18px,4vw,21px);
}
.rating{
  font-size: clamp(16px,4vw,19px);
}
.top-img{
  position: absolute;        
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;         
  pointer-events: none;  
}

.top-img img{
  width: 40rem;          
}
body.modal-open{
  overflow: hidden;   /* background scroll stop */
}

#modalImg{
  transition: transform 0.3s ease;
}

#modalImg.zoomed{
  transform: scale(1.1);
}
.cart-qty{
  border: 1px solid grey;
}

/* notification */
#cartToast{
  height: 5rem;
  background-color: rgb(220, 242, 242);
}